<div class="container-admin">
  <div class="antet-admin">
    <div class="titlu-admin">
      <h2>Logistică Intrare</h2>
      <p>Aici poți vizualiza facturile primite de la furnizori și stadiul lor logistic.</p>
    </div>

    <div class="bara-actiuni">
      <button class="buton-principal buton-adauga" (click)="inapoiLaDashboard()">&larr; Inapoi la Dashboard</button>
    </div>
  </div>



  @if (alertaSucces()) {
  <div class="alerta-succes" style="margin-bottom: 1.5rem;">
    {{ alertaSucces() }}
  </div>
  }
  @if (alertaEroare()) {
  <div class="alerta-eroare" style="margin-bottom: 1.5rem;">
    {{ alertaEroare() }}
  </div>
  }
  <div class="card-admin">
    <div class="tabel-responsive">
      <table class="tabel-admin">
        <thead>
          <tr>
            <th>ID Factură</th>
            <th>Furnizor</th>
            <th>Data</th>
            <th>Total</th>
            <th>Stadiu Logistică</th>
            <th>Linii Expediate</th>
            <th>Acțiuni</th>
          </tr>
        </thead>
        <tbody>
          @if (seIncarca()) {
          <tr>
            <td colspan="7" style="text-align: center; padding: 2rem; color: #6b7280;">
              Se încarcă...
            </td>
          </tr>
          } @else {
          @for (item of facturi(); track item.factura.facturi_id) {
          <tr>
            <td><strong>{{ item.factura.facturi_id }}</strong></td>
            <td><strong>{{ item.furnizor.nume_Furnizor }}</strong></td>
            <td>{{ item.factura.created_at | date:'dd.MM.yyyy' }}</td>
            <td>{{ item.factura.pret_total_brut | number:'1.2-2' }} RON</td>
            <td>
              @if (item.statistici.stadiu_logistica_factura === 'Zero') {
              <span class="status-badge status-lipsa">Zero</span>
              }
              @if (item.statistici.stadiu_logistica_factura === 'Partial') {
              <span class="status-badge status-pending">Parțial</span>
              }
              @if (item.statistici.stadiu_logistica_factura === 'Complet') {
              <span class="status-badge status-plasata">Complet</span>
              }
            </td>
            <td>{{ item.statistici.linii_expediate }} / {{ item.statistici.linii_total }}</td>
            <td>
              <div class="actiuni-tabel">
                <button class="buton-actiune buton-galben" (click)="veziFacturaIntrareDetaliata(item.factura.facturi_id)">Vezi Detalii</button>
                <button class="buton-actiune buton-verde" (click)="receptiePrimire(item.factura.facturi_id)">Marcheaza Receptia Pieselor</button>
              </div>
            </td>
          </tr>
          }
          @empty {
          <tr>
            <td colspan="7" style="text-align: center; padding: 2rem; color: #6b7280;">
              Nu există nicio factură înregistrată momentan.
            </td>
          </tr>
          }
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
