USE [master]
GO
/****** Object:  Database [PPAP_Database]    Script Date: 17/08/2026 18:42:24 ******/
CREATE DATABASE [PPAP_Database]
GO

USE [PPAP_Database]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PPAP_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PPAP_Database]
GO
/****** Object:  Table [dbo].[comanda]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comanda](
	[comanda_id] [int] IDENTITY(1,1) NOT NULL,
	[documente_id] [int] NULL,
	[stadiu_finalizare] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[comanda_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comanda_piese]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comanda_piese](
	[comanda_piese_id] [int] IDENTITY(1,1) NOT NULL,
	[comanda_id] [int] NULL,
	[piese_id] [int] NULL,
	[cantitate_comandata] [int] NULL,
	[detalii_piese] [varchar](255) NULL,
	[stadiu_intern] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[comanda_piese_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[companie]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companie](
	[companie_id] [int] IDENTITY(1,1) NOT NULL,
	[cnp_admin_local] [varchar](255) NULL,
	[numar_telefon] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[nume_companie] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[companie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documente_comanda]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documente_comanda](
	[documente_id] [int] IDENTITY(1,1) NOT NULL,
	[companie_id] [int] NULL,
	[stadiu_acceptare] [bit] NULL,
	[path_documente_pdf] [varchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[documente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura_companie]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura_companie](
	[factura_id] [int] IDENTITY(1,1) NOT NULL,
	[comanda_id] [int] NULL,
	[companie_id] [int] NULL,
	[pret_brut] [decimal](10, 2) NULL,
	[path_factura_pdf] [varchar](255) NULL,
	[stadiu_plata] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[factura_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturi_furnizor]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturi_furnizor](
	[facturi_id] [int] IDENTITY(1,1) NOT NULL,
	[furnizor_id] [int] NULL,
	[pret_total_brut] [decimal](10, 2) NULL,
	[stadiu_plata] [bit] NULL,
	[path_factura_pdf] [varchar](255) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_facturi_furnizor] PRIMARY KEY CLUSTERED 
(
	[facturi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturi_furnizor_linie]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturi_furnizor_linie](
	[facturi_linie_id] [int] IDENTITY(1,1) NOT NULL,
	[comanda_piese_id] [int] NULL,
	[facturi_id] [int] NULL,
	[pret_brut] [decimal](10, 2) NULL,
	[stadiu_logistica] [bit] NULL,
 CONSTRAINT [PK__facturi___1A3A27CC43495F7D] PRIMARY KEY CLUSTERED 
(
	[facturi_linie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[furnizor]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[furnizor](
	[furnizor_id] [int] IDENTITY(1,1) NOT NULL,
	[cnp_admin_furnizor] [varchar](255) NULL,
	[numar_telefon] [varchar](255) NULL,
	[email_furnizor] [varchar](255) NULL,
	[nume_furnizor] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[furnizor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[piese]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[piese](
	[piese_id] [int] IDENTITY(1,1) NOT NULL,
	[furnizor_id] [int] NULL,
	[pret_cumparare] [decimal](10, 2) NULL,
	[pret_vanzare] [decimal](10, 2) NULL,
	[nume_piesa] [varchar](250) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[piese_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[rol_id] [int] IDENTITY(1,1) NOT NULL,
	[nume] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utilizatori]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utilizatori](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nume] [varchar](255) NULL,
	[prenume] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[cnp] [varchar](255) NULL,
	[rol_id] [int] NULL,
	[companie_id] [int] NULL,
	[created_at] [datetime] NULL,
	[cont_verificat] [bit] NULL,
	[updated_at] [datetime] NULL,
	[parola] [varchar](400) NULL,
 CONSTRAINT [PK__utilizat__3213E83F60C89F13] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[companie] ON 

INSERT [dbo].[companie] ([companie_id], [cnp_admin_local], [numar_telefon], [email], [nume_companie]) VALUES (2, N'af53aaf876569', N'0726883193', N'salut@srl.com', N'Companie_1')
INSERT [dbo].[companie] ([companie_id], [cnp_admin_local], [numar_telefon], [email], [nume_companie]) VALUES (4, NULL, N'1231231231', N'salut@salutsalut.com', N'Companie_2')
SET IDENTITY_INSERT [dbo].[companie] OFF
GO
SET IDENTITY_INSERT [dbo].[furnizor] ON 

INSERT [dbo].[furnizor] ([furnizor_id], [cnp_admin_furnizor], [numar_telefon], [email_furnizor], [nume_furnizor]) VALUES (2, N'79231d47d3836', N'0766666666', N'companie@furnizor.com', N'Companie Furnizor UNU')
INSERT [dbo].[furnizor] ([furnizor_id], [cnp_admin_furnizor], [numar_telefon], [email_furnizor], [nume_furnizor]) VALUES (3, N'45df139772a81', N'0999999999', N'furnizordoi@furnizor.com', N'Companie Furnizor Doi')
SET IDENTITY_INSERT [dbo].[furnizor] OFF
GO
SET IDENTITY_INSERT [dbo].[piese] ON 

INSERT [dbo].[piese] ([piese_id], [furnizor_id], [pret_cumparare], [pret_vanzare], [nume_piesa], [created_at]) VALUES (3, 2, CAST(20.00 AS Decimal(10, 2)), CAST(20.01 AS Decimal(10, 2)), N'Piesa Unu', CAST(N'2026-07-16T13:13:24.983' AS DateTime))
INSERT [dbo].[piese] ([piese_id], [furnizor_id], [pret_cumparare], [pret_vanzare], [nume_piesa], [created_at]) VALUES (4, 2, CAST(100.00 AS Decimal(10, 2)), CAST(100.10 AS Decimal(10, 2)), N'Piesa Doi', CAST(N'2026-07-25T18:50:37.003' AS DateTime))
INSERT [dbo].[piese] ([piese_id], [furnizor_id], [pret_cumparare], [pret_vanzare], [nume_piesa], [created_at]) VALUES (5, 3, CAST(30.50 AS Decimal(10, 2)), CAST(31.00 AS Decimal(10, 2)), N'Piesa trei', CAST(N'2026-08-03T13:59:32.980' AS DateTime))
SET IDENTITY_INSERT [dbo].[piese] OFF
GO
SET IDENTITY_INSERT [dbo].[rol] ON 

INSERT [dbo].[rol] ([rol_id], [nume]) VALUES (2, N'AdminCompanie')
INSERT [dbo].[rol] ([rol_id], [nume]) VALUES (5, N'AdminFurnizor')
INSERT [dbo].[rol] ([rol_id], [nume]) VALUES (1, N'AdminGeneral')
SET IDENTITY_INSERT [dbo].[rol] OFF
GO
SET IDENTITY_INSERT [dbo].[utilizatori] ON 

INSERT [dbo].[utilizatori] ([id], [nume], [prenume], [email], [cnp], [rol_id], [companie_id], [created_at], [cont_verificat], [updated_at], [parola]) VALUES (23, N'Admin', N'General', N'salut@mail.com', N'c402c189b8b5e', 1, NULL, CAST(N'2026-07-07T16:50:18.840' AS DateTime), 1, CAST(N'2026-07-07T17:12:11.150' AS DateTime), N'$2a$11$bbfGWCWBalq2EpQgZ241Yu8TM28aX1vk48YPTu8eVp9mr/SvFDQS6')
INSERT [dbo].[utilizatori] ([id], [nume], [prenume], [email], [cnp], [rol_id], [companie_id], [created_at], [cont_verificat], [updated_at], [parola]) VALUES (24, N'Admin', N'Local', N'adminlocal@admin.com', N'af53aaf876569', 2, 2, CAST(N'2026-07-11T14:18:36.980' AS DateTime), 0, CAST(N'2026-08-10T15:17:36.267' AS DateTime), N'$2a$11$02dDou3y7FkdKwWlA25aSeAfhOySUI/xJQJMD4noRcK.vjVeS4iGm')
INSERT [dbo].[utilizatori] ([id], [nume], [prenume], [email], [cnp], [rol_id], [companie_id], [created_at], [cont_verificat], [updated_at], [parola]) VALUES (25, N'Admin', N'Furnizor', N'adminfurnizor@admin.com', N'79231d47d3836', 5, NULL, CAST(N'2026-07-15T13:56:10.723' AS DateTime), 0, CAST(N'2026-07-16T13:12:56.360' AS DateTime), N'$2a$11$d4lPdDB9RoZRdIhTuZiYk.C1rNjbdo/KZw2.twhEG/y6SGXXicRxq')
SET IDENTITY_INSERT [dbo].[utilizatori] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__companie__60F35DE3186D789F]    Script Date: 17/08/2026 18:42:24 ******/
ALTER TABLE [dbo].[companie] ADD UNIQUE NONCLUSTERED 
(
	[numar_telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__companie__AB6E6164607DB449]    Script Date: 17/08/2026 18:42:24 ******/
ALTER TABLE [dbo].[companie] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Companie_cnp_admin_local]    Script Date: 17/08/2026 18:42:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Companie_cnp_admin_local] ON [dbo].[companie]
(
	[cnp_admin_local] ASC
)
WHERE ([cnp_admin_local] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__factura___F025FED8E621C3AC]    Script Date: 17/08/2026 18:42:24 ******/
ALTER TABLE [dbo].[factura_companie] ADD UNIQUE NONCLUSTERED 
(
	[path_factura_pdf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__rol__71F07D5A9825F58D]    Script Date: 17/08/2026 18:42:24 ******/
ALTER TABLE [dbo].[rol] ADD UNIQUE NONCLUSTERED 
(
	[nume] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__utilizat__D836175730B64EC0]    Script Date: 17/08/2026 18:42:24 ******/
ALTER TABLE [dbo].[utilizatori] ADD  CONSTRAINT [UQ__utilizat__D836175730B64EC0] UNIQUE NONCLUSTERED 
(
	[cnp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comanda] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[documente_comanda] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[factura_companie] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[utilizatori] ADD  CONSTRAINT [DF__utilizato__creat__403A8C7D]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[comanda]  WITH CHECK ADD FOREIGN KEY([documente_id])
REFERENCES [dbo].[documente_comanda] ([documente_id])
GO
ALTER TABLE [dbo].[comanda_piese]  WITH CHECK ADD FOREIGN KEY([comanda_id])
REFERENCES [dbo].[comanda] ([comanda_id])
GO
ALTER TABLE [dbo].[comanda_piese]  WITH CHECK ADD FOREIGN KEY([piese_id])
REFERENCES [dbo].[piese] ([piese_id])
GO
ALTER TABLE [dbo].[documente_comanda]  WITH CHECK ADD FOREIGN KEY([companie_id])
REFERENCES [dbo].[companie] ([companie_id])
GO
ALTER TABLE [dbo].[factura_companie]  WITH CHECK ADD FOREIGN KEY([comanda_id])
REFERENCES [dbo].[comanda] ([comanda_id])
GO
ALTER TABLE [dbo].[factura_companie]  WITH CHECK ADD FOREIGN KEY([companie_id])
REFERENCES [dbo].[companie] ([companie_id])
GO
ALTER TABLE [dbo].[facturi_furnizor]  WITH CHECK ADD  CONSTRAINT [FK_facturi_furnizor_furnizor] FOREIGN KEY([furnizor_id])
REFERENCES [dbo].[furnizor] ([furnizor_id])
GO
ALTER TABLE [dbo].[facturi_furnizor] CHECK CONSTRAINT [FK_facturi_furnizor_furnizor]
GO
ALTER TABLE [dbo].[facturi_furnizor_linie]  WITH NOCHECK ADD  CONSTRAINT [FK__facturi_f__coman__5DCAEF64] FOREIGN KEY([facturi_id])
REFERENCES [dbo].[facturi_furnizor] ([facturi_id])
GO
ALTER TABLE [dbo].[facturi_furnizor_linie] CHECK CONSTRAINT [FK__facturi_f__coman__5DCAEF64]
GO
ALTER TABLE [dbo].[facturi_furnizor_linie]  WITH NOCHECK ADD  CONSTRAINT [FK_facturi_furnizor_linie_comanda_piese] FOREIGN KEY([comanda_piese_id])
REFERENCES [dbo].[comanda_piese] ([comanda_piese_id])
GO
ALTER TABLE [dbo].[facturi_furnizor_linie] CHECK CONSTRAINT [FK_facturi_furnizor_linie_comanda_piese]
GO
ALTER TABLE [dbo].[piese]  WITH CHECK ADD  CONSTRAINT [FK_piese_furnizor] FOREIGN KEY([furnizor_id])
REFERENCES [dbo].[furnizor] ([furnizor_id])
GO
ALTER TABLE [dbo].[piese] CHECK CONSTRAINT [FK_piese_furnizor]
GO
ALTER TABLE [dbo].[utilizatori]  WITH CHECK ADD  CONSTRAINT [FK__utilizato__compa__4222D4EF] FOREIGN KEY([companie_id])
REFERENCES [dbo].[companie] ([companie_id])
GO
ALTER TABLE [dbo].[utilizatori] CHECK CONSTRAINT [FK__utilizato__compa__4222D4EF]
GO
ALTER TABLE [dbo].[utilizatori]  WITH CHECK ADD  CONSTRAINT [FK__utilizato__rol_i__412EB0B6] FOREIGN KEY([rol_id])
REFERENCES [dbo].[rol] ([rol_id])
GO
ALTER TABLE [dbo].[utilizatori] CHECK CONSTRAINT [FK__utilizato__rol_i__412EB0B6]
GO
/****** Object:  StoredProcedure [dbo].[Comanda_GetFurnizorIdPentruNotificare]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Comanda_GetFurnizorIdPentruNotificare]
	@idComanda int
AS
	SELECT DISTINCT furnizor.furnizor_id
	
	FROM comanda

	INNER JOIN comanda_piese ON comanda_piese.comanda_id = comanda.comanda_id
	INNER JOIN piese ON piese.piese_id = comanda_piese.piese_id
	INNER JOIN furnizor ON furnizor.furnizor_id = piese.furnizor_id
	
	WHERE comanda.comanda_id = @idComanda
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Comanda_Companie_GetComandaById]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Comanda_Companie_GetComandaById]
	@idComanda int,
	@idCompanie int
AS
	SELECT comanda.*
	FROM comanda
	INNER JOIN documente_comanda ON documente_comanda.documente_id = comanda.documente_id
	INNER JOIN companie ON companie.companie_id = documente_comanda.companie_id
	WHERE 
	comanda.comanda_id = @idComanda
	AND 
	companie.companie_id = @idCompanie

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Comanda_Companie_StergeComanda]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Comanda_Companie_StergeComanda]
	@idComanda int,
	@idCompanie int
AS

IF NOT EXISTS (
		SELECT 1 
		FROM comanda c
		INNER JOIN documente_comanda dc ON c.documente_id = dc.documente_id
		INNER JOIN companie comp ON dc.companie_id = comp.companie_id
		WHERE c.comanda_id = @idComanda
		  AND comp.companie_id = @idCompanie
		  AND (c.stadiu_finalizare = 0 OR c.stadiu_finalizare IS NULL)
	)
	BEGIN
		SELECT 0;
		RETURN;
	END


	DECLARE @idDocumentComanda INT;
	SELECT @idDocumentComanda = documente_id 
	FROM comanda 
	WHERE comanda_id = @idComanda;
	
	DELETE FROM comanda_piese
	WHERE comanda_id = @idComanda;

	DELETE FROM comanda
	WHERE comanda_id = @idComanda;

	IF @idDocumentComanda IS NOT NULL
	BEGIN
		DELETE FROM documente_comanda
		WHERE documente_id = @idDocumentComanda;
	END

	SELECT 1;
GO
/****** Object:  StoredProcedure [dbo].[sp_Comanda_GetFurnizorIdPentruNotificare]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Comanda_GetFurnizorIdPentruNotificare]
	@idComanda int
AS
	SELECT DISTINCT furnizor.furnizor_id
	
	FROM comanda

	INNER JOIN comanda_piese ON comanda_piese.comanda_id = comanda.comanda_id
	INNER JOIN piese ON piese.piese_id = comanda_piese.piese_id
	INNER JOIN furnizor ON furnizor.furnizor_id = piese.furnizor_id
	
	WHERE comanda.comanda_id = @idComanda
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Comanda_GetPieseDetaliateCompanie]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Comanda_GetPieseDetaliateCompanie]
	@idComanda int,
	@idCompanie int,
	@idComandaPiesa int = NULL
AS
	SELECT

		piese.piese_id, 
		piese.furnizor_id, 
		piese.nume_piesa, 
		piese.pret_vanzare,
		piese.created_at,

		comanda_piese.comanda_piese_id,
		comanda_piese.comanda_id,      
		comanda_piese.piese_id,
		comanda_piese.cantitate_comandata,
		comanda_piese.detalii_piese,

		furnizor.furnizor_id,
		furnizor.nume_furnizor,
		furnizor.email_furnizor,
		furnizor.numar_telefon,

		
		CAST(comanda_piese.cantitate_comandata * piese.pret_vanzare AS DECIMAL(10,2)) AS pretPiese,

		CAST(SUM(comanda_piese.cantitate_comandata * piese.pret_vanzare) OVER() AS DECIMAL(10,2)) AS TotalPretComanda

	FROM comanda
	
	INNER JOIN comanda_piese ON comanda_piese.comanda_id = comanda.comanda_id
	INNER JOIN piese ON piese.piese_id = comanda_piese.piese_id
	INNER JOIN furnizor ON furnizor.furnizor_id = piese.furnizor_id
	INNER JOIN documente_comanda ON documente_comanda.documente_id = comanda.documente_id
	INNER JOIN companie ON companie.companie_id = documente_comanda.companie_id

	WHERE 
	comanda.comanda_id = @idComanda
	AND
	companie.companie_id = @idCompanie
	AND 
	(@idComandaPiesa IS NULL OR comanda_piese.comanda_piese_id = @idComandaPiesa)
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Comanda_IncepeComanda]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Comanda_IncepeComanda]
	@idDocumenteComanda int
AS
	INSERT INTO comanda (documente_id, stadiu_finalizare, created_at)
	VALUES (@idDocumenteComanda, 0, GETDATE())

	SELECT CAST(SCOPE_IDENTITY() AS INT);
GO
/****** Object:  StoredProcedure [dbo].[sp_Comanda_Piesa_AdaugaPiesa]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Comanda_Piesa_AdaugaPiesa]
	@idComanda int = 0,
	@idPiesa int,
	@cantitateComandata int,
	@detalii_piese VARCHAR(255)
AS
    MERGE comanda_piese AS target
    USING (SELECT @idComanda AS comanda_id, @idPiesa AS piese_id, @detalii_piese AS detalii_piese) AS source
    ON target.comanda_id = source.comanda_id 
       AND target.piese_id = source.piese_id
       AND (
            target.detalii_piese = source.detalii_piese
            OR (target.detalii_piese IS NULL AND source.detalii_piese IS NULL)
       )
    WHEN MATCHED THEN
        UPDATE SET
            cantitate_comandata = target.cantitate_comandata + @cantitateComandata
    WHEN NOT MATCHED THEN
        INSERT (comanda_id, piese_id, cantitate_comandata, detalii_piese, stadiu_intern)
        VALUES (@idComanda, @idPiesa, @cantitateComandata, @detalii_piese, 0);

    SELECT @@ROWCOUNT;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Comanda_VerificaStadiuInternTrimitere]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Comanda_VerificaStadiuInternTrimitere]
	@idComanda int
AS

	SELECT 1
	WHERE
	(
	SELECT COUNT(comanda_piese.comanda_piese_id) 
	FROM 
	comanda_piese
	WHERE
	comanda_piese.comanda_id = @idComanda
	AND
	comanda_piese.stadiu_intern = 3
	)
	=
	(
	SELECT COUNT(comanda_piese.comanda_piese_id) 
	FROM 
	comanda_piese
	WHERE
	comanda_piese.comanda_id = @idComanda
	) 
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_ComandaPiese_AdminProceseazaLinia]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ComandaPiese_AdminProceseazaLinia]
	@idComanda int,
	@idComandaPiese int
AS
	SET NOCOUNT ON;

	UPDATE comanda_piese
	SET stadiu_intern = 2
	WHERE 
		comanda_piese.comanda_piese_id = @idComandaPiese
		AND comanda_piese.comanda_id = @idComanda
		AND comanda_piese.stadiu_intern = 1

	SELECT @@ROWCOUNT AS RanduriAfectate
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_ComandaPiese_AdminTrimiteLinia]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ComandaPiese_AdminTrimiteLinia]
	@idComanda int,
	@idComandaPiese int
AS
	SET NOCOUNT ON;

	UPDATE comanda_piese
	SET stadiu_intern = 3
	WHERE 
		comanda_piese.comanda_piese_id = @idComandaPiese
		AND comanda_piese.comanda_id = @idComanda
		AND comanda_piese.stadiu_intern = 2

	SELECT @@ROWCOUNT AS RanduriAfectate
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_ComandaPiese_CompanieModificaByComandaPieseID]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ComandaPiese_CompanieModificaByComandaPieseID]
	@idComandaPiese int,
	@idComanda int,
	@idCompanie int,
	@detaliiPiese VARCHAR(255),
	@cantitatePiesa int
AS
	UPDATE comanda_piese
	SET
		cantitate_comandata = @cantitatePiesa,
		detalii_piese = @detaliiPiese
	WHERE 
	(
		SELECT 1
		FROM comanda_piese cp
		INNER JOIN comanda ON cp.comanda_id = comanda.comanda_id
		INNER JOIN documente_comanda on comanda.documente_id = documente_comanda.documente_id
		INNER JOIN companie ON documente_comanda.companie_id = companie.companie_id
		WHERE 
		companie.companie_id = @idCompanie
		AND 
		cp.comanda_piese_id = @idComandaPiese
		AND 
		comanda.comanda_id = @idComanda
		AND
		(comanda.stadiu_finalizare = 0 OR comanda.stadiu_finalizare IS NULL)
	) IS NOT NULL

	SELECT @@ROWCOUNT
GO
/****** Object:  StoredProcedure [dbo].[sp_ComandaPiese_CompanieStergeByComandaPieseID]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ComandaPiese_CompanieStergeByComandaPieseID]
	@idComandaPiese int,
	@idComanda int,
	@idCompanie int
AS

		DELETE cp
		FROM comanda_piese cp
		INNER JOIN comanda ON cp.comanda_id = comanda.comanda_id
		INNER JOIN documente_comanda on comanda.documente_id = documente_comanda.documente_id
		INNER JOIN companie ON documente_comanda.companie_id = companie.companie_id
		WHERE 
		companie.companie_id = @idCompanie
		AND 
		cp.comanda_piese_id = @idComandaPiese
		AND 
		comanda.comanda_id = @idComanda
		AND
		(comanda.stadiu_finalizare = 0 OR comanda.stadiu_finalizare IS NULL)

	DECLARE @randuriSterse INT = @@ROWCOUNT;

	IF @randuriSterse > 0
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM comanda_piese WHERE comanda_id = @idComanda)
		BEGIN
			DECLARE @idDocumentComanda INT;
			SELECT @idDocumentComanda = documente_id FROM comanda WHERE comanda_id = @idComanda;
			

			DELETE FROM comanda WHERE comanda_id = @idComanda;

			IF @idDocumentComanda IS NOT NULL
			BEGIN
				DELETE FROM documente_comanda WHERE documente_id = @idDocumentComanda;
			END

			SELECT 2; 
			RETURN;
		END
	END

	SELECT @randuriSterse;
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_AdaugaUtilizator]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_AdaugaUtilizator]
	@idUtilizator int,
	@idCompanie int
AS
	UPDATE utilizatori
    SET 
	companie_id = @idCompanie,
	rol_id = 4
    WHERE id = @idUtilizator;

	SELECT @@ROWCOUNT;
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_AddCompanie]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_AddCompanie]
	@NumeCompanie VARCHAR(255),
	@CnpAdminLocal VARCHAR(13) = NULL,
	@Email VARCHAR(255),
	@NumarTelefon VARCHAR(10)
AS
	
	INSERT INTO companie (nume_companie, email, numar_telefon, cnp_admin_local)
	VALUES (@NumeCompanie, @Email, @NumarTelefon, @CnpAdminLocal)
	
	
	UPDATE utilizatori 
	SET
		rol_id = 2,
		companie_id = SCOPE_IDENTITY()	
	WHERE
		cnp = @CnpAdminLocal
	
	RETURN SCOPE_IDENTITY();
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_AdminGeneralGetFacturiIesire]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_AdminGeneralGetFacturiIesire]
	@idComanda int = NULL
AS
	IF @idComanda IS NULL
	BEGIN
	SELECT 

		comanda.comanda_id,
		comanda.created_at,
		comanda.documente_id,
		comanda.stadiu_finalizare,
		companie.companie_id,
		companie.nume_companie,
		companie.email,
		companie.numar_telefon,

		CASE
			WHEN ISNULL(linii.TotalLinii, 0) = 0 OR ISNULL(linii.LiniiExpediate, 0) = 0 THEN 'Zero'
			WHEN linii.LiniiExpediate = linii.TotalLinii THEN 'Complet'
			ELSE 'Partial'
		END AS stadiu_logistica_factura,
		ISNULL(linii.LiniiExpediate, 0) AS linii_expediate,
		ISNULL(linii.TotalLinii, 0) AS linii_total,
		CAST(
			CASE 
				WHEN ISNULL(linii.TotalLinii, 0) = 0 THEN 0
				WHEN EXISTS (
					SELECT 1 
					FROM comanda_piese cp
					WHERE cp.comanda_id = comanda.comanda_id 
					  AND ISNULL(cp.stadiu_intern, 0) = 0
				) THEN 0
				ELSE 1 
			END AS BIT
		) AS receptie_comanda,

		documente_comanda.documente_id,
		documente_comanda.companie_id,
		documente_comanda.created_at,
		documente_comanda.path_documente_pdf,
		documente_comanda.stadiu_acceptare,

		factura_companie.factura_id,
		factura_companie.comanda_id,
		factura_companie.companie_id,
		factura_companie.created_at,
		factura_companie.path_factura_pdf,
		factura_companie.pret_brut,
		factura_companie.stadiu_plata

	FROM companie
	INNER JOIN documente_comanda ON documente_comanda.companie_id = companie.companie_id
	INNER JOIN comanda ON comanda.documente_id = documente_comanda.documente_id
	LEFT JOIN factura_companie ON factura_companie.comanda_id = comanda.comanda_id
    LEFT JOIN (
			SELECT
				cp.comanda_id,
				COUNT(*) AS TotalLinii,
				SUM(CASE WHEN ffl.stadiu_logistica = 1 THEN 1 ELSE 0 END) AS LiniiExpediate
			FROM comanda_piese cp
			INNER JOIN facturi_furnizor_linie ffl ON ffl.comanda_piese_id = cp.comanda_piese_id
			GROUP BY cp.comanda_id
		) linii ON linii.comanda_id = comanda.comanda_id
	WHERE comanda.stadiu_finalizare = 1
	END
	ELSE

	BEGIN
		SELECT 
			comanda.comanda_id,
			comanda.created_at,
			comanda.documente_id,
			comanda.stadiu_finalizare,

			companie.companie_id,
			companie.nume_companie,
			companie.email,
			companie.numar_telefon,

			comanda_piese.comanda_piese_id,
			comanda_piese.cantitate_comandata,
			comanda_piese.piese_id,
			comanda_piese.stadiu_intern,
			comanda_piese.comanda_id,

			piese.piese_id,
			piese.furnizor_id,
			piese.nume_piesa,
			piese.pret_cumparare,
			piese.pret_vanzare,

			documente_comanda.documente_id,
			factura_companie.factura_id

		FROM companie
		INNER JOIN documente_comanda ON documente_comanda.companie_id = companie.companie_id
		INNER JOIN comanda ON comanda.documente_id = documente_comanda.documente_id
		INNER JOIN comanda_piese ON comanda_piese.comanda_id = comanda.comanda_id
		INNER JOIN piese ON piese.piese_id = comanda_piese.piese_id
		LEFT JOIN factura_companie ON factura_companie.comanda_id = comanda.comanda_id
		WHERE comanda.stadiu_finalizare = 1
		AND comanda.comanda_id = @idComanda
	END

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_AdminGetCompanieByComandaId]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_AdminGetCompanieByComandaId]
	@idComanda int
AS

	SELECT c.* 
	FROM companie c
	INNER JOIN documente_comanda dc ON c.companie_id = dc.companie_id
	INNER JOIN comanda cmd ON dc.documente_id = cmd.documente_id
	WHERE cmd.comanda_id = @idComanda;

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_AdminGetFacturaCompaniePentruMail]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_AdminGetFacturaCompaniePentruMail]
	@idFactura int
AS
	SELECT 
		
		companie.email,
		companie.nume_companie,

		factura_companie.path_factura_pdf,
		factura_companie.pret_brut,

		piese.nume_piesa,
		piese.pret_vanzare,
		furnizor.nume_furnizor,

		comanda_piese.cantitate_comandata,
		comanda_piese.detalii_piese

	FROM companie
	
	INNER JOIN factura_companie ON factura_companie.companie_id = companie.companie_id
	INNER JOIN comanda_piese ON comanda_piese.comanda_id = factura_companie.comanda_id
	INNER JOIN piese ON piese.piese_id = comanda_piese.piese_id
	INNER JOIN furnizor ON furnizor.furnizor_id = piese.furnizor_id

	WHERE 

	factura_companie.factura_id = @idFactura

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_DeleteCompanie]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_DeleteCompanie]
	@idCompanie int 
AS

	UPDATE utilizatori
	SET
	rol_id = 3,
	companie_id = NULL,
	updated_at = GETDATE()
	WHERE
	companie_id = @idCompanie


	DELETE FROM companie WHERE companie_id = @idCompanie


RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_DeleteUtilizator]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_DeleteUtilizator]
	@idUtilizator INT,
    @idCompanie INT
AS
	
	UPDATE companie
	SET
	companie.cnp_admin_local = null 
	WHERE
	2 = (
		SELECT utilizatori.rol_id
		FROM utilizatori
		WHERE
		utilizatori.id = @idUtilizator
	) 
	AND
	companie.companie_id = @idCompanie;

    UPDATE utilizatori
    SET companie_id = NULL, rol_id = 3, updated_at = GETDATE()
    WHERE id = @idUtilizator AND companie_id = @idCompanie;

    SELECT @@ROWCOUNT;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_EditCompanie]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_EditCompanie]
    @NumeCompanie VARCHAR(255),
    @CnpAdminLocal VARCHAR(13),
    @Email VARCHAR(255),
    @NumarTelefon VARCHAR(10),
	@idCompanie INT
AS
	DECLARE @CnpVechi VARCHAR(13);

    SELECT @CnpVechi = cnp_admin_local 
	FROM companie 
	WHERE companie_id = @idCompanie;
	
	DECLARE @CnpNou VARCHAR(13);

	IF @CnpAdminLocal = 'STERGE_ADMIN'
        SET @CnpNou = NULL; 
    ELSE
        SET @CnpNou = ISNULL(@CnpAdminLocal, @CnpVechi);

		UPDATE companie
	SET
		nume_companie = @NumeCompanie,
		email = @Email,
		numar_telefon = @NumarTelefon,
        cnp_admin_local = @CnpNou
	WHERE
		companie_id = @idCompanie

	    IF ISNULL(@CnpVechi, '') <> ISNULL(@CnpNou, '')
    BEGIN
        IF @CnpVechi IS NOT NULL
        BEGIN
            UPDATE utilizatori
            SET rol_id = 4, updated_at = GETDATE()
            WHERE cnp = @CnpVechi;
        END
 
       
        IF @CnpNou IS NOT NULL
        BEGIN
            UPDATE utilizatori
            SET rol_id = 2, companie_id = @idCompanie, updated_at = GETDATE()
            WHERE cnp = @CnpNou;
        END
    END
RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_GetAll]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_GetAll]
AS
	SELECT 
		c.*,
		u.nume as NumeAdminLocal, 
		u.prenume as PrenumeAdminLocal
	FROM companie c
	LEFT JOIN utilizatori u ON c.cnp_admin_local = u.cnp

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_getbyID]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_getbyID]
	@id int
AS
	SELECT c.*, u.nume AS NumeAdminLocal, u.prenume AS PrenumeAdminLocal FROM companie c
	LEFT JOIN utilizatori u ON c.cnp_admin_local = u.cnp
	WHERE c.companie_id = @id
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_GetComenziByCompanieId]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_GetComenziByCompanieId]
	@idCompanie int
AS
	SELECT comanda.* 
	FROM documente_comanda
	INNER JOIN comanda ON documente_comanda.documente_id = comanda.documente_id
	WHERE documente_comanda.companie_id = @idCompanie
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_GetDocumenteComandaByCompanieId]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_GetDocumenteComandaByCompanieId]
	@idCompanie int
AS

	SELECT documente_comanda.*
	FROM documente_comanda
	WHERE documente_comanda.companie_id = @idCompanie

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_GetDocumenteComandaPathPdf]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_GetDocumenteComandaPathPdf]
	@idDocumenteComanda int,
	@idCompanie int
AS
	SELECT documente_comanda.path_documente_pdf
	FROM documente_comanda
	WHERE documente_comanda.documente_id = @idDocumenteComanda
	AND documente_comanda.companie_id = @idCompanie
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_GetFacturaCompanieByCompanieId]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_GetFacturaCompanieByCompanieId]
	@idCompanie int
AS
	SELECT factura_companie.*
	FROM factura_companie
	WHERE factura_companie.companie_id = @idCompanie
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Companie_GetFacturaCompaniePathPdf]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Companie_GetFacturaCompaniePathPdf]
	@idFactura int,
	@idCompanie int
AS
	SELECT factura_companie.path_factura_pdf
	FROM factura_companie
	WHERE 
	factura_companie.factura_id = @idFactura
	AND
	factura_companie.companie_id = @idCompanie
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Documente_Comanda_CompaniaReceptioneazaComanda]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Documente_Comanda_CompaniaReceptioneazaComanda]
	@idComanda int 
AS
	
	UPDATE dc
    SET dc.stadiu_acceptare = 1
    FROM documente_comanda dc
    INNER JOIN comanda cmd ON dc.documente_id = cmd.documente_id
    WHERE cmd.comanda_id = @idComanda
      AND EXISTS (
          SELECT 1
          FROM companie comp
          INNER JOIN factura_companie fc ON comp.companie_id = fc.companie_id
          WHERE fc.comanda_id = @idComanda
      );

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Documente_Comanda_IncepeComanda]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Documente_Comanda_IncepeComanda]
	@idCompanie INT
AS
	INSERT INTO documente_comanda (companie_id, created_at)
	VALUES (@idCompanie, GETDATE());

	SELECT CAST(SCOPE_IDENTITY() AS INT);
GO
/****** Object:  StoredProcedure [dbo].[sp_Documente_Comanda_PlaseazaComanda]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Documente_Comanda_PlaseazaComanda]

	@idComanda int,
	@idCompanie int,
	@path_documente_pdf VARCHAR(255)

AS
	UPDATE documente_comanda
	SET 
		path_documente_pdf = @path_documente_pdf,
		created_at = GETDATE(),
		stadiu_acceptare = 0,
		companie_id = @idCompanie
	WHERE documente_comanda.documente_id
	= 
	(
		SELECT comanda.documente_id
		FROM comanda
		INNER JOIN documente_comanda ON documente_comanda.documente_id = comanda.documente_id
		INNER JOIN companie ON companie.companie_id = documente_comanda.companie_id
		WHERE 
		comanda.comanda_id = @idComanda
		AND
		companie.companie_id = @idCompanie
	)

	UPDATE comanda
	SET comanda.stadiu_finalizare = 1
	FROM comanda
	INNER JOIN documente_comanda  ON documente_comanda.documente_id = comanda.documente_id
	WHERE comanda.comanda_id = @idComanda
	  AND documente_comanda.companie_id = @idCompanie;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Factura_Companie_GetFacturaCompanieById]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Factura_Companie_GetFacturaCompanieById]
	@idFactura int,
	@idCompanie int
AS
	SELECT factura_companie.*
	FROM factura_companie
	WHERE factura_companie.companie_id = @idCompanie
	AND
	factura_companie.factura_id = @idFactura
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Factura_Companie_PlatesteFactura]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Factura_Companie_PlatesteFactura]
	@idFactura int
AS
	UPDATE factura_companie
	SET
	factura_companie.stadiu_plata = 1
	WHERE factura_companie.factura_id = @idFactura
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Factura_Companie_TrimiteComanda]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Factura_Companie_TrimiteComanda]
	@idComanda int,
	@idCompanie int,
	@pret_brut DECIMAL(10,2),
	@path_factura_pdf VARCHAR(255)
AS
	INSERT INTO factura_companie
	(comanda_id, companie_id,pret_brut, path_factura_pdf, stadiu_plata, created_at)
	VALUES
	(@idComanda, @idCompanie, @pret_brut, @path_factura_pdf, 0, GETDATE())
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_FacturiFurnizor_Put_Cale_Pdf]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FacturiFurnizor_Put_Cale_Pdf]
	@idFactura int,
	@idFurnizor int,
	@calePdfFactura varchar(255)
AS
	UPDATE facturi_furnizor
	SET path_factura_pdf = @calePdfFactura
	WHERE facturi_id = @idFactura
	AND furnizor_id = @idFurnizor
	
	SELECT @@ROWCOUNT
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_AddFurnizor]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_AddFurnizor]
	@cnpAdminFurnizor VARCHAR(13),
	@numarTelefon VARCHAR(10),
	@emailFurnizor VARCHAR(255),
	@numeFurnizor VARCHAR(255)

AS
	INSERT INTO furnizor  (cnp_admin_furnizor, numar_telefon, email_furnizor, nume_furnizor)
	VALUES  (@cnpAdminFurnizor, @numarTelefon, @emailFurnizor, @numeFurnizor);

	UPDATE utilizatori
	SET
		rol_id = 5
	WHERE
		cnp = @cnpAdminFurnizor

	RETURN SCOPE_IDENTITY();
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_AdminGeneralGetFacturiIntrare]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_AdminGeneralGetFacturiIntrare]
	@idFactura int = NULL
AS
	IF @idFactura IS NULL
	BEGIN
		SELECT
			facturi_furnizor.facturi_id,
			facturi_furnizor.furnizor_id,
			facturi_furnizor.created_at,
			facturi_furnizor.pret_total_brut,
			facturi_furnizor.path_factura_pdf,
			facturi_furnizor.stadiu_plata,

			furnizor.furnizor_id,
			furnizor.nume_furnizor,

			CASE
				WHEN ISNULL(linii.TotalLinii, 0) = 0 OR ISNULL(linii.LiniiExpediate, 0) = 0 THEN 'Zero'
				WHEN linii.LiniiExpediate = linii.TotalLinii THEN 'Complet'
				ELSE 'Partial'
			END AS stadiu_logistica_factura,
			ISNULL(linii.LiniiExpediate, 0) AS linii_expediate,
			ISNULL(linii.TotalLinii, 0) AS linii_total,
			CAST(
				CASE 
					WHEN ISNULL(linii.TotalLinii, 0) = 0 THEN 0
					WHEN EXISTS (
						SELECT 1 
						FROM facturi_furnizor_linie ffl
						INNER JOIN comanda_piese cp ON cp.comanda_piese_id = ffl.comanda_piese_id
						WHERE ffl.facturi_id = facturi_furnizor.facturi_id 
						  AND ISNULL(cp.stadiu_intern, 0) = 0
					) THEN 0
					ELSE 1 
				END AS BIT
			) AS receptie_comanda
		FROM facturi_furnizor
		INNER JOIN furnizor 
			ON furnizor.furnizor_id = facturi_furnizor.furnizor_id
		LEFT JOIN (
			SELECT
				facturi_id,
				COUNT(*) AS TotalLinii,
				SUM(CASE WHEN stadiu_logistica = 1 THEN 1 ELSE 0 END) AS LiniiExpediate
			FROM facturi_furnizor_linie
			GROUP BY facturi_id
		) linii ON linii.facturi_id = facturi_furnizor.facturi_id
	END
	ELSE
	BEGIN
		SELECT
			facturi_furnizor.facturi_id,
			facturi_furnizor.furnizor_id,
			facturi_furnizor.created_at,
			facturi_furnizor.pret_total_brut,
			facturi_furnizor.path_factura_pdf,

			furnizor.furnizor_id,
			furnizor.nume_furnizor,

			CASE
				WHEN ISNULL(linii.TotalLinii, 0) = 0 OR ISNULL(linii.LiniiExpediate, 0) = 0 THEN 'Zero'
				WHEN linii.LiniiExpediate = linii.TotalLinii THEN 'Complet'
				ELSE 'Partial'
			END AS stadiu_logistica_factura,
			ISNULL(linii.LiniiExpediate, 0) AS linii_expediate,
			ISNULL(linii.TotalLinii, 0) AS linii_total,

			CAST(
				CASE 
					WHEN ISNULL(linii.TotalLinii, 0) = 0 THEN 0
					WHEN EXISTS (
						SELECT 1 
						FROM facturi_furnizor_linie ffl
						INNER JOIN comanda_piese cp ON cp.comanda_piese_id = ffl.comanda_piese_id
						WHERE ffl.facturi_id = facturi_furnizor.facturi_id 
						  AND ISNULL(cp.stadiu_intern, 0) = 0
					) THEN 0
					ELSE 1 
				END AS BIT
			) AS receptie_comanda,

			comanda_piese.comanda_piese_id,
			comanda_piese.cantitate_comandata,
			comanda_piese.piese_id,
			comanda_piese.comanda_id,
			comanda_piese.stadiu_intern,

			piese.piese_id,
			piese.nume_piesa,
			piese.pret_cumparare,
			piese.pret_vanzare,
			piese.furnizor_id

		FROM facturi_furnizor
		INNER JOIN furnizor 
			ON furnizor.furnizor_id = facturi_furnizor.furnizor_id
		LEFT JOIN (
			SELECT
				facturi_id,
				COUNT(*) AS TotalLinii,
				SUM(CASE WHEN stadiu_logistica = 1 THEN 1 ELSE 0 END) AS LiniiExpediate
			FROM facturi_furnizor_linie
			GROUP BY facturi_id
		) linii ON linii.facturi_id = facturi_furnizor.facturi_id
		INNER JOIN facturi_furnizor_linie 
			ON facturi_furnizor_linie.facturi_id = facturi_furnizor.facturi_id
		INNER JOIN comanda_piese 
			ON comanda_piese.comanda_piese_id = facturi_furnizor_linie.comanda_piese_id
		INNER JOIN piese 
			ON piese.piese_id = comanda_piese.piese_id
		WHERE facturi_furnizor.facturi_id = @idFactura

	END
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_AdminGeneralPlatesteFacturiFurnizori]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_AdminGeneralPlatesteFacturiFurnizori]
	@idFacturi int
AS

	UPDATE facturi_furnizor
	SET
	facturi_furnizor.stadiu_plata = 1
	WHERE 
	facturi_furnizor.facturi_id = @idFacturi
	AND 
	facturi_furnizor.stadiu_plata = 0

	SELECT @@ROWCOUNT
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_AdminGeneralReceptiePrimireFactura]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_AdminGeneralReceptiePrimireFactura]
	@idFactura int
AS
	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	BEGIN TRANSACTION;


	IF NOT EXISTS (SELECT 1 FROM facturi_furnizor_linie WHERE facturi_id = @idFactura)
	BEGIN
		ROLLBACK TRANSACTION;
		SELECT -1 AS RezultatReceptie; 
		RETURN;
	END

	UPDATE comanda_piese
	SET stadiu_intern = 1
	FROM comanda_piese
	INNER JOIN facturi_furnizor_linie 
		ON facturi_furnizor_linie.comanda_piese_id = comanda_piese.comanda_piese_id
	WHERE 
		facturi_furnizor_linie.facturi_id = @idFactura
		AND facturi_furnizor_linie.stadiu_logistica = 1
		AND comanda_piese.stadiu_intern = 0;

	DECLARE @RanduriActualizate INT = @@ROWCOUNT;

	COMMIT TRANSACTION;

	SELECT @RanduriActualizate AS RezultatReceptie;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_AdminGetFacturaPentruEmail]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_AdminGetFacturaPentruEmail]
	@idFacturi int 
AS
	SELECT
	
		furnizor.email_furnizor,
		furnizor.nume_furnizor,

		facturi_furnizor.pret_total_brut,
		facturi_furnizor.path_factura_pdf,

		piese.nume_piesa,
		piese.pret_cumparare,

		comanda_piese.cantitate_comandata
		
	
	FROM furnizor

	LEFT JOIN facturi_furnizor ON facturi_furnizor.furnizor_id = furnizor.furnizor_id
	LEFT JOIN facturi_furnizor_linie ON facturi_furnizor_linie.facturi_id = facturi_furnizor.facturi_id
	LEFT JOIN comanda_piese ON comanda_piese.comanda_piese_id = facturi_furnizor_linie.comanda_piese_id
	LEFT JOIN piese ON piese.piese_id = comanda_piese.piese_id
	
	WHERE facturi_furnizor.facturi_id = @idFacturi
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_DeleteFurnizor]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_DeleteFurnizor]
	@idFurnizor int
AS

	UPDATE utilizatori
	SET
	rol_id = 3,
	updated_at = GETDATE()
	WHERE utilizatori.cnp =
	(
		SELECT furnizor.cnp_admin_furnizor
		FROM furnizor
		WHERE furnizor.furnizor_id = @idFurnizor
	)
	DELETE FROM piese WHERE furnizor_id = @idFurnizor

	DELETE FROM furnizor WHERE furnizor_id =  @idFurnizor

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_EditFurnizor]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_EditFurnizor]
	@NumeFurnizor VARCHAR(255),
	@CnpAdminFurnizor VARCHAR(13),
	@Email VARCHAR(255),
	@NumarTelefon VARCHAR(10),
	@idFurnizor INT
AS
	DECLARE @CnpAdminFurnizorVechi VARCHAR(13);

	SELECT 
	@CnpAdminFurnizorVechi = furnizor.cnp_admin_furnizor
	FROM furnizor
	WHERE furnizor.furnizor_id = @idFurnizor

	DECLARE @CnpNou VARCHAR(13);

	IF @CnpAdminFurnizor = 'STERGE_ADMIN'
        SET @CnpNou = NULL; 
    ELSE
        SET @CnpNou = ISNULL(@CnpAdminFurnizor, @CnpAdminFurnizorVechi);

		UPDATE furnizor
	SET 
		furnizor.cnp_admin_furnizor = @CnpNou,
		furnizor.email_furnizor = @Email,
		furnizor.numar_telefon = @NumarTelefon,
		furnizor.nume_furnizor = @NumeFurnizor
	WHERE
		furnizor.furnizor_id = @idFurnizor

		IF ISNULL(@CnpAdminFurnizorVechi, '') <> ISNULL(@CnpNou, '')
	BEGIN
		IF @CnpAdminFurnizorVechi IS NOT NULL
		BEGIN
			UPDATE utilizatori
			SET rol_id = 3, updated_at = GETDATE()
			WHERE cnp = @CnpAdminFurnizorVechi
		END

		IF @CnpNou IS NOT NULL
        BEGIN
            UPDATE utilizatori
            SET rol_id = 5, updated_at = GETDATE()
            WHERE cnp = @CnpNou;
        END
	END
RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_GenereazaFacturi]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_GenereazaFacturi]
	@idFurnizor int
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @FacturaID INT = 0;
	DECLARE @LiniiInserate INT = 0;

	BEGIN TRY
		BEGIN TRANSACTION;

		INSERT INTO facturi_furnizor (furnizor_id, created_at, stadiu_plata)
		VALUES (@idFurnizor, GETDATE(), 0);

		SET @FacturaID = SCOPE_IDENTITY();

		INSERT INTO facturi_furnizor_linie (facturi_id, comanda_piese_id, pret_brut, stadiu_logistica)
		SELECT
			@FacturaID,
			comanda_piese.comanda_piese_id,
			piese.pret_cumparare * comanda_piese.cantitate_comandata,
			0
		FROM comanda_piese
		INNER JOIN piese ON comanda_piese.piese_id = piese.piese_id
		INNER JOIN comanda ON comanda.comanda_id = comanda_piese.comanda_id
		WHERE piese.furnizor_id = @idFurnizor
		  AND comanda.stadiu_finalizare = 1
		  AND NOT EXISTS (
			  SELECT 1
			  FROM facturi_furnizor_linie 
			  WHERE facturi_furnizor_linie.comanda_piese_id = comanda_piese.comanda_piese_id
		  );

		SET @LiniiInserate = @@ROWCOUNT;

		IF @LiniiInserate = 0
		BEGIN
			ROLLBACK TRANSACTION;
			SELECT 0; 
			RETURN;
		END


		UPDATE facturi_furnizor
		SET pret_total_brut = (
			SELECT SUM(facturi_furnizor_linie.pret_brut)
			FROM facturi_furnizor_linie
			WHERE facturi_furnizor_linie.facturi_id = @FacturaID
		)
		WHERE facturi_furnizor.facturi_id = @FacturaID;

		COMMIT TRANSACTION;

		SELECT @FacturaID;

	END TRY
	BEGIN CATCH

		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_GetAll]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_GetAll]
AS
	SELECT 
		f.*,
		u.nume as Nume_Admin_Furnizor , 
		u.prenume as Prenume_Admin_Furnizor 
	FROM furnizor f
	LEFT JOIN utilizatori u ON f.cnp_admin_furnizor = u.cnp

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_getByID]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_getByID]
	@idFurnizor int 
AS

	SELECT f.*, 
	u.nume as Nume_Admin_Furnizor , 
	u.prenume as Prenume_Admin_Furnizor 
	FROM furnizor f
	LEFT JOIN utilizatori u ON f.cnp_admin_furnizor = u.cnp 
	WHERE f.furnizor_id = @idFurnizor

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_GetFacturaFurnizorByFurnizorId]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_GetFacturaFurnizorByFurnizorId]
	@idFurnizor int,
	@idFactura int
AS
	SELECT 
	facturi_furnizor.*,

	facturi_furnizor_linie.*,

	piese.piese_id,
	piese.pret_cumparare,
	piese.nume_piesa,

	comanda_piese.cantitate_comandata,

	CASE
		WHEN ISNULL(linii.TotalLinii, 0) = 0 OR ISNULL(linii.LiniiExpediate, 0) = 0 THEN 'Zero'
		WHEN linii.LiniiExpediate = linii.TotalLinii THEN 'Complet'
		ELSE 'Partial'
	END AS stadiu_logistica_factura,


	ISNULL(linii.LiniiExpediate, 0) AS linii_expediate,

	ISNULL(linii.TotalLinii, 0) AS linii_total
	FROM 

	facturi_furnizor
	LEFT JOIN(
		SELECT
			facturi_id,
			COUNT(*) AS TotalLinii,
			SUM(
			CASE WHEN stadiu_logistica = 1 THEN 1 
			ELSE 0 
			END
			) AS LiniiExpediate
		FROM facturi_furnizor_linie
		GROUP BY facturi_id
	) linii ON facturi_furnizor.facturi_id = linii.facturi_id

	INNER JOIN facturi_furnizor_linie ON facturi_furnizor_linie.facturi_id = facturi_furnizor.facturi_id
	INNER JOIN comanda_piese ON comanda_piese.comanda_piese_id = facturi_furnizor_linie.comanda_piese_id
	INNER JOIN piese ON piese.piese_id = comanda_piese.piese_id
	WHERE 
	facturi_furnizor.furnizor_id = @idFurnizor
	AND 
	facturi_furnizor.facturi_id = @idFactura
	AND
	piese.furnizor_id = @idFurnizor
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_GetFacturaPentruPdf]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_GetFacturaPentruPdf]
	@idFurnizor int,
	@idFactura int
AS
	SELECT
		facturi_furnizor.facturi_id,
		facturi_furnizor.furnizor_id,
		facturi_furnizor.created_at,
		facturi_furnizor.pret_total_brut,

		piese.piese_id,
		piese.nume_piesa,
		piese.pret_cumparare,

		SUM(comanda_piese.cantitate_comandata) AS CantitateTotala,
		SUM(facturi_furnizor_linie.pret_brut) AS PretTotalPiesa

	FROM facturi_furnizor
	INNER JOIN facturi_furnizor_linie ON facturi_furnizor_linie.facturi_id = facturi_furnizor.facturi_id
	INNER JOIN comanda_piese ON comanda_piese.comanda_piese_id = facturi_furnizor_linie.comanda_piese_id
	INNER JOIN piese ON piese.piese_id = comanda_piese.piese_id
	WHERE 
		facturi_furnizor.facturi_id = @idFactura
		AND facturi_furnizor.furnizor_id = @idFurnizor
	GROUP BY 
		facturi_furnizor.facturi_id,
		facturi_furnizor.furnizor_id,
		facturi_furnizor.created_at,
		facturi_furnizor.pret_total_brut,
		piese.piese_id,
		piese.nume_piesa,
		piese.pret_cumparare
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_GetFacturiFurnizorByFurnizorId]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_GetFacturiFurnizorByFurnizorId]
	@idFurnizor int
AS
	SELECT 
	facturi_furnizor.*,
	CASE
		WHEN ISNULL(linii.TotalLinii, 0) = 0 OR ISNULL(linii.LiniiExpediate, 0) = 0 THEN 'Zero'
		WHEN linii.LiniiExpediate = linii.TotalLinii THEN 'Complet'
		ELSE 'Partial'
	END AS stadiu_logistica_factura,

	ISNULL(linii.LiniiExpediate, 0) AS linii_expediate,
	ISNULL(linii.TotalLinii, 0) AS linii_total
	FROM 
	facturi_furnizor
	LEFT JOIN(
		SELECT
			facturi_id,
			COUNT(*) AS TotalLinii,
			SUM(
			CASE WHEN stadiu_logistica = 1 THEN 1 
			ELSE 0 
			END
			) AS LiniiExpediate
		FROM facturi_furnizor_linie
		GROUP BY facturi_id
	) linii ON facturi_furnizor.facturi_id = linii.facturi_id
	WHERE 
	facturi_furnizor.furnizor_id = @idFurnizor
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_GetFacturiFurnizorPathPdf]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_GetFacturiFurnizorPathPdf]
	@idFurnizor int,
	@idFacturi int
AS
	SELECT facturi_furnizor.path_factura_pdf
	FROM facturi_furnizor
	WHERE 
	facturi_furnizor.furnizor_id = @idFurnizor
	AND
	facturi_furnizor.facturi_id = @idFacturi
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_GetFurnizorByAdmin]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_GetFurnizorByAdmin]
	@idAdminFurnizor INT
AS
	SELECT * FROM furnizor
	WHERE furnizor.cnp_admin_furnizor = (
		SELECT utilizatori.cnp
		FROM utilizatori
		WHERE utilizatori.id = @idAdminFurnizor
	)

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_GetFurnizoriCuPieseActive]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_GetFurnizoriCuPieseActive]

AS
	SELECT furnizor.*,
	(
            SELECT COUNT(p.piese_id)
            FROM piese p
            WHERE p.furnizor_id = furnizor.furnizor_id 
              AND p.pret_vanzare IS NOT NULL
        ) AS NumarPieseActive
	FROM furnizor
	WHERE EXISTS (
        SELECT 1 
        FROM piese p 
        WHERE p.furnizor_id = furnizor.furnizor_id 
          AND p.pret_vanzare IS NOT NULL
    )
	ORDER BY furnizor.nume_furnizor
	

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_GetPiese]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_GetPiese]
	@idFurnizor INT
AS
	SELECT 

	piese.piese_id,
	piese.pret_cumparare,
	piese.created_at,
	piese.furnizor_id,
	piese.nume_piesa

	FROM piese
	WHERE piese.furnizor_id = @idFurnizor 
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Furnizor_TrimiteComandaSauLinie]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Furnizor_TrimiteComandaSauLinie]
	@idFactura int,
	@idFurnizor int,
	@idFacturaLinie int = NULL
AS
	UPDATE facturi_furnizor_linie
	SET
	facturi_furnizor_linie.stadiu_logistica = 1
	WHERE 
	@idFurnizor =
	(
	SELECT TOP 1 facturi_furnizor.furnizor_id
	FROM facturi_furnizor
	WHERE
	facturi_furnizor.furnizor_id = @idFurnizor
	AND 
	facturi_furnizor.facturi_id = @idFactura
	)
	AND
	facturi_furnizor_linie.facturi_id = @idFactura
	AND
	(@idFacturaLinie IS NULL OR facturi_furnizor_linie.facturi_linie_id = @idFacturaLinie)

	

	SELECT @@ROWCOUNT
GO
/****** Object:  StoredProcedure [dbo].[sp_Piesa_AdminGetPiesaByPiesaID]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Piesa_AdminGetPiesaByPiesaID]
	@idPiesa INT
AS
	SELECT piese.*
	FROM piese
	WHERE piese.piese_id = @idPiesa
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Piesa_AdminGetPieseByFurnizorID]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Piesa_AdminGetPieseByFurnizorID]
	@idFurnizor INT
AS
	SELECT piese.*,
	CASE WHEN pret_vanzare IS NULL 
        THEN DATEDIFF(HOUR, created_at, GETDATE()) 
        ELSE NULL END AS OreTrecute,
	CASE WHEN pret_vanzare IS NULL 
        THEN 24 - DATEDIFF(HOUR, created_at, GETDATE()) 
        ELSE NULL END AS OreRamase
	FROM piese
	WHERE piese.furnizor_id = @idFurnizor 
	ORDER BY 
    CASE WHEN pret_vanzare IS NULL THEN 0 ELSE 1 END,
    created_at ASC;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Piesa_AdminSeteazaPretVanzare]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Piesa_AdminSeteazaPretVanzare]
	@idPiesa INT,
	@pretVanzare DECIMAL(10,2)
AS
	UPDATE piese
	SET
		piese.pret_vanzare = @pretVanzare
	WHERE 
		piese.piese_id = @idPiesa
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Piesa_Companie_GetPiesaActivaByPiesaId]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Piesa_Companie_GetPiesaActivaByPiesaId]
	@idPiesa int
AS
	SELECT 
	piese.nume_piesa,
	piese.furnizor_id,
	piese.piese_id,
	piese.pret_vanzare,
	piese.created_at
	FROM piese
	WHERE 
	piese.piese_id = @idPiesa
	AND 
	piese.pret_vanzare IS NOT NULL
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Piesa_Companie_GetPieseActiveByFurnizorId]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Piesa_Companie_GetPieseActiveByFurnizorId]
	@idFurnizor int
AS
	SELECT 
	piese.nume_piesa,
	piese.furnizor_id,
	piese.piese_id,
	piese.pret_vanzare
	FROM piese
	WHERE 
	piese.furnizor_id = @idFurnizor
	AND
	piese.pret_vanzare IS NOT NULL

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Piesa_DeletePiesa]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Piesa_DeletePiesa]
	@idPiesa int 
AS
	DELETE FROM piese
	WHERE piese.piese_id = @idPiesa

	SELECT @@ROWCOUNT;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Piesa_FurnizorAdaugaPiesa]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Piesa_FurnizorAdaugaPiesa]
	@furnizorId INT,
	@pretCumparare DECIMAL(10, 2),
	@numePiesa VARCHAR(250)

AS
	INSERT INTO piese (nume_piesa, pret_cumparare, furnizor_id, created_at)
	VALUES (@numePiesa, @pretCumparare, @furnizorId, GETDATE())
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Piesa_FurnizorEditPiesa]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Piesa_FurnizorEditPiesa]
	@NumePiesa VARCHAR(250),
	@PretCumparare DECIMAL(10,2),
	@idPiesa INT
AS
	UPDATE piese
	SET
		piese.pret_cumparare = @PretCumparare,
		piese.nume_piesa = @NumePiesa
	WHERE
		piese.piese_id = @idPiesa
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Piesa_FurnizorGetPiesaById]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Piesa_FurnizorGetPiesaById]
	@idPiesa INT
AS
	SELECT piese.piese_id, piese.furnizor_id, piese.pret_cumparare, piese.nume_piesa
	FROM piese
	WHERE piese.piese_id = @idPiesa

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizator_Confirm]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizator_Confirm]
	@id int
AS
BEGIN
    UPDATE utilizatori
    SET cont_verificat = 1,
		updated_at = GETDATE()
    WHERE id = @id;

    RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizator_Edit]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizator_Edit]
	@nume VARCHAR(255),
	@prenume VARCHAR(255),
	@email VARCHAR(255),
	@cnp VARCHAR(13),
	@parola VARCHAR(255),
	@userId INT
AS
BEGIN
	UPDATE utilizatori 
	SET
		nume = @nume,
		prenume = @prenume,
		email = @email,
		cnp = @cnp,
        parola = CASE 
        WHEN @parola IS NULL OR @parola = '' THEN parola
        ELSE @parola
        END,
		updated_at = GETDATE()
	WHERE
		id = @userId
RETURN 0
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizator_Exista_CNP]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizator_Exista_CNP]
	@cnp VARCHAR(13)
AS
	IF EXISTS(SELECT 1 FROM utilizatori WHERE cnp = @cnp)
	RETURN 1;
RETURN 0;
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizator_Exista_Email]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizator_Exista_Email]
	@email VARCHAR(255)
AS
	IF EXISTS (SELECT 1 FROM utilizatori WHERE email = @email)
	RETURN 0;
RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizator_Get_Companie]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizator_Get_Companie]
	@id int
AS
    SELECT c.*,
	admin_local.nume AS numeAdminLocal, 
    admin_local.prenume AS prenumeAdminLocal, 
    admin_local.cnp AS cnpAdminLocal
    FROM companie c
    INNER JOIN utilizatori u ON c.companie_id = u.companie_id
    LEFT JOIN utilizatori admin_local ON c.cnp_admin_local = admin_local.cnp
	WHERE u.id = @id;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizator_Get_Furnizor_As_Companie]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizator_Get_Furnizor_As_Companie]
	@id INT
AS
	SELECT 
	furnizor_id AS companie_id,
	cnp_admin_furnizor AS cnp_admin_local,
	numar_telefon,
	email_furnizor AS email,
	nume_furnizor AS nume_companie
	FROM furnizor
	WHERE furnizor.cnp_admin_furnizor =
	( 
		SELECT utilizatori.cnp 
		FROM utilizatori
		WHERE utilizatori.id = @id
	)
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizator_Get_Rol]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizator_Get_Rol]
	@id int
AS
    SELECT r.nume 
    FROM rol r
    INNER JOIN utilizatori u ON r.rol_id = u.rol_id
    WHERE u.id = @id;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizator_getByCompanieId]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizator_getByCompanieId]
	@id INT
AS
	SELECT * FROM utilizatori
	WHERE utilizatori.companie_id = @id;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizator_getbyEmailsauCNP]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizator_getbyEmailsauCNP]
	@emailsaucnp VARCHAR(255)
AS
	SELECT * FROM utilizatori
	WHERE 
	email = @emailsaucnp
	OR 
	cnp = @emailsaucnp
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizator_getbyID]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizator_getbyID]
	@id int
AS
	SELECT * FROM utilizatori WHERE id = @id;
RETURN 1
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizator_GetCnpByIdentificator]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizator_GetCnpByIdentificator]
    @Email NVARCHAR(100) = NULL,
    @Id INT = NULL,
    @CnpHash NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT cnp 
    FROM utilizatori
    WHERE 
        (@Email IS NOT NULL AND utilizatori.email = @Email) OR
        (@Id IS NOT NULL AND utilizatori.id = @Id) OR 
        (@CnpHash IS NOT NULL AND utilizatori.cnp = @CnpHash);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizator_Login]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizator_Login]
	@email VARCHAR(255),
	@cnp VARCHAR(13)
AS
	SELECT id,email, nume, prenume, parola
	FROM utilizatori
	WHERE (email = @email
	OR cnp = @cnp)
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizator_Register_Site]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizator_Register_Site]
	@nume VARCHAR(255),
	@prenume VARCHAR(255),
	@email VARCHAR(255),
	@cnp VARCHAR(13),
	@parola VARCHAR(255)
AS
	
	DECLARE @scorEroare INT = 0;

	IF EXISTS (SELECT 1 FROM utilizatori WHERE email = @email)
		SET @scorEroare = @scorEroare + 1;

	IF EXISTS (SELECT 1 FROM utilizatori WHERE cnp = @cnp)
		SET @scorEroare = @scorEroare + 2;

	IF @scorEroare > 0
		RETURN -@scorEroare;

	INSERT INTO utilizatori (nume, prenume, email, cnp, rol_id, companie_id, created_at, cont_verificat, updated_at, parola)
	VALUES (@nume, @prenume, @email, @cnp, NULL, NULL, GETDATE(), 0, NULL, @parola)
	RETURN SCOPE_IDENTITY();
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizator_ResetParola]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizator_ResetParola]
	@parola varchar(255),
	@userId int
AS
	UPDATE utilizatori 
	SET
	parola = @parola,
	updated_at = GETDATE()
	WHERE 
	id = @userId

	IF @@ROWCOUNT > 0
		RETURN 1;
	ELSE
		RETURN 0;
GO
/****** Object:  StoredProcedure [dbo].[sp_Utilizatori_getByCompanieId]    Script Date: 17/08/2026 18:42:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Utilizatori_getByCompanieId]
	@id INT
AS
	SELECT * FROM utilizatori
	WHERE utilizatori.companie_id = @id;
RETURN 0
GO
USE [master]
GO
